@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  color: #000;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
}

.nav1 {
  align-self: center;
  text-align: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  z-index: 10;
  position: fixed;
  background-color: #ffc516;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav1 p {
  flex: 1;
  text-align: center;
  margin: 5px 8px;
  padding: 10px 8px;
}

.nav1 button {
  border: none;
  background-color: white;
  color: #ffc516;
  text-align: center;
  border-radius: 2px;
  width: 90px;
  cursor: pointer;
  height: 29px;
  margin: 7px 8px;
  transition: all ease 0.7s;
}
.nav1 button:hover {
  color: black;
}
@media (max-width: 600px) {
  .nav1 {
    flex-direction: column;
    align-items: center;
  }

  .nav1 p {
    width: 80%;
    font-size: 10px;
  }
  .nav1 button {
    width: 40%;
  }
}
.nav2 ul {
  width: 100%;
  z-index: -1;
  list-style: none;
  background-color: #0b35b1;
  position: absolute;
  top: 49px;
  height: 40px;
}
.nav2 li {
  float: right;
  padding: 0px 20px;
  cursor: pointer;
  margin: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: relative;
}
.nav2 button {
  float: right;
  background-color: #f09d18;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 12px 15px;
  font-size: 14px;
  border: none;
  transition: all ease 0.7s;
  cursor: pointer;
  position: relative;
}
.nav2 button:hover {
  color: black;
}
@media (max-width: 600px) {
  .nav2 ul {
    top: 88px;
    padding: 12px 0;
  }
  .nav2 li {
    padding: 0;
  }
  .nav2 button {
    display: none;
  }
}
.container {
  display: block;
}
.container img {
  position: absolute;
  width: 100%;
  height: 134%;
  top: 14%;
  z-index: -2;
  object-fit: cover;
}
@media (max-width: 600px) {
  .container img {
    width: 100%;
    height: 40%;
  }
}
.nav3 ul {
  width: 100%;
  display: flex;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.4);
  top: 13.7%;
  justify-content: center;
  height: 12%;
  position: absolute;
  z-index: -1;
  text-align: center;
}
.nav3 li {
  width: auto;
  text-align: center;
  position: relative;
  /* float:; */
}
.nav3 a {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  transition: all ease 1s;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: nowrap;
  position: relative;
  top: 9px;
  text-align: center;
}
.nav3 a:hover {
  color: #ffc516;
}
/* .slider{
    position: absolute;
    top: 15%;
    /* z-index: -5; */
/* } */
/* .slider {
  max-width: 1000px;
  position: absolute;
  margin: auto;
} */
.slider img {
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}
@media (max-width: 600px) {
  .nav3 ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    top: 152px;
  }
  .nav3 li {
    padding: 0;
  }
}
.btn2 button {
  width: 80px;
  height: 45px;
  border: none;
  background-color: #ffc516;
  color: white;
  /* z-index: 10; */
  z-index: -1;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position: absolute;
  transition: all ease 0.7s;
  top: 102px;
  cursor: pointer;
  left: 68%;
}
.btn2 button:hover {
  color: black;
}
@media (max-width: 600px) {
  .btn2 button {
    display: none;
  }
}
.content h1 {
  font-family: 'Pacifico';
  font-size: 36px;
  width: 15rem;
  cursor: none;
  position: absolute;
  top: 40%;
  color: #3c78b3;
  text-align: center;
  left: 16%;
}
.content h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  width: 15rem;
  position: absolute;
  text-align: center;
  top: 60%;
  cursor: none;
  color: #ffc516;
  left: 16%;
}
.content p {
  font-family: 'Ubuntu', sans-serif;
  /* font-size: 30px; */
  width: 30rem;
  position: absolute;
  top: 70%;
  color: black;
  left: 10%;
  text-align: center;
  cursor: none;
}
.content button {
  font-family: 'Pacifico';
  width: 8%;
  height: 6%;
  border-radius: 3px;
  position: absolute;
  top: 90%;
  left: 22%;
  color: white;
  transition: all ease 0.7s;
  border: none;
  background-color: #f09d18;
}
.content button:hover {
  color: black;
}
@media (max-width: 600px) {
  .content h1 {
    width: 106px;
    z-index: -1;
    top: 50%;
    font-size: 20px;
  }
  .content h3 {
    width: 100px;
    z-index: -1;
    cursor: none;
    font-size: 20px;
  }
  .content p {
    cursor: none;
    width: 90%;
    z-index: -1;
    font-size: 15px;
  }
  .content button {
    display: none;
  }
}
.content2 {
  display: inline-block;
  width: 100%;
  top: 120%;
  z-index: -1;
  height: 100%;
  background-color: white;
  position: absolute;
}
.imgess img {
  width: 40%;
  height: 100%;
  left: 10%;
  position: absolute;
  top: 15%;
}
.imgess2 img {
  width: 43%;
  height: 35%;
  left: 53%;
  position: absolute;
  top: 80%;
}
.content2 h1 {
  font-family: 'Pacifico';
  top: 20%;
  cursor: none;
  position: absolute;
  left: 60%;
  color: #3c78b3;
  font-size: 40px;
}
.content2 h3 {
  font-family: 'Ubuntu', sans-serif;
  top: 30%;
  position: absolute;
  left: 60%;
  cursor: none;
  color: #ffc516;
  font-size: 30px;
}
.content2 p {
  font-family: 'Ubuntu', sans-serif;
  top: 40%;
  cursor: none;
  position: absolute;
  left: 60%;
  color: black;
  /* font-size: 30px; */
}
@media (max-width: 600px) {
  .content2 {
    width: 100%;
    height: 20%;
  }
  .imgess img {
    width: 40%;
    height: 100%;
    top: -50%;
  }
  .content2 h1 {
    width: 108px;
    z-index: -1;
    top: -60%;
    font-size: 25px;
  }
  .content2 h3 {
    width: 95px;
    z-index: -1;
    font-size: 15px;
    top: -30px;
  }
  .content2 p {
    display: none;
  }
}
.content3 {
  display: inline-block;
  width: 100%;
  top: 235%;
  z-index: -1;
  text-align: center;
  align-items: center;
  height: 80%;
  background-color: #3c78b3;
  position: absolute;
}
.content3 h1 {
  font-family: 'Pacifico';
  /* top: 20%; */
  position: relative;
  /* left: 60%; */
  color: white;
  text-align: center;
  cursor: none;
  font-size: 40px;
  /* z-index: 1; */
}
.content3 p {
  color: white;
  /* width: 50%; */
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  cursor: none;
}
/* div.gallery {
  border: 1px solid #ccc;
} */

/* div.gallery:hover {
  border: 1px solid #777;
} */

div.gallery img {
  width: 90%;
  height: auto;
  display: flex;
  border-radius: 20px;
  margin-top: 35%;
  margin-left: 50%;
}
.gal {
  padding: 0 6px;
  float: left;
  display: flex;
  align-items: center;
  width: 20%;
}
@media (max-width: 600px) {
  .content3 {
    width: 100%;
    top: 143%;
    height: 25%;
  }
  .content3 h1 {
    font-size: 20px;
  }
  .content3 p {
    font-size: 12px;
  }
  div.gallery img {
    width: 100%;
    position: relative;
    right: 20px;
  }
}
.content4 {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 315%;
  text-align: center;
  z-index: -1;
}
.content4 h1 {
  font-family: 'Pacifico';
  position: relative;
  cursor: none;
  color: #3c78b3;
  text-align: center;
  font-size: 40px;
  /* z-index: 1; */
}
.content4 p {
  color: black;
  width: 25%;
  cursor: none;
  font-size: 16px;
  left: 45px;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 30%;
}
.content4 img {
  width: 30%;
  height: auto;
}
.content4 button {
  font-family: 'Pacifico';
  width: 12%;
  height: 10%;
  border-radius: 3px;
  position: absolute;
  top: 40%;
  /* left: 22%; */
  color: white;
  transition: all ease 0.7s;
  border: none;
  background-color: #f09d18;
  right: 15%;
}
.content4 button:hover {
  color: black;
}
@media (max-width: 700px) {
  .content4 {
    display: none;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --font-medium: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}
input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.login {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 420%;
  display: grid;
  align-items: center;
}
.login__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.login__form {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}
.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}
.login__content,
.login__box {
  display: grid;
}
.login__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.login__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
}
.login__icon,
.login__eye {
  font-size: 1.25rem;
}
.login__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: var(--white-color);
  position: relative;
  z-index: 1;
}
.login__box-input {
  position: relative;
}
.login__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}
.login__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.login__box:nth-child(2) input {
  padding-right: 1.8rem;
}
.login__check,
.login__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__check {
  margin-bottom: 1.5rem;
}
.login__check-label,
.login__forgot,
.login__register {
  font-size: var(--small-font-size);
}
.login__check-group {
  column-gap: 0.5rem;
}
.login__check-input {
  width: 16px;
  height: 16px;
}
.login__forgot {
  color: var(--white-color);
}
.login__forgot:hover {
  text-decoration: underline;
}
.login__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
}
.login__register {
  text-align: center;
}
.login__register a {
  color: var(--white-color);
  font-weight: var(--font-medium);
}
.login__register a:hover {
  text-decoration: underline;
}

.login__input:focus + .login__label {
  top: -12px;
  font-size: var(--small-font-size);
}

.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
  top: -12px;
  font-size: var(--small-font-size);
}

@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .login__title {
    font-size: 2rem;
  }
}
.container99 {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  top: 520%;
  position: absolute;
  width: 100%;
  background-color: #f09d18;
  padding: 70px 0;
}
.footer-col {
  width: 23%;
  padding: 0 10px;
}
.footer-col h4 {
  font-size: 18px;
  cursor: context-menu;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  font-weight: bold;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #000;
  font-weight: bold;
  padding-left: 8px;
}
.footer-col .social-links a img {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
